.App {
  text-align: center;
  background-color: #247A61; 
}

.App-header {
  background-color: #247A61;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-background{
  background-color: #247A61;
  font-size: calc(10px + 2vmin);
  color: white;
}
.inputs{
  margin-top: 10px;
  margin-right:15px;
  height: 40px;
  border-radius: 20px;
  background-color: #AB907E;
  color: #FAFAF9;
  font-family: 'Roboto Mono', monospace;
}
div{
  font-family: 'Roboto Mono', monospace;
}
